div{
	background-color: rgb(255, 144, 118);
}

.Stat1{
	float:left;
	padding: 20px;
}

.Stat2{
	float:right;
	padding: 20px;
}
.CountryBox{
	border-style: double;
	width:340px;
    	height:600px;
	text-align: center; 
	margin: 0 auto;
	font-family:Monaco, Consolas, "Lucida Console", monospace;
	font-size: 14px;
}

li{
	text-align: left;
}

.wrapper{
    overflow:hidden; 
    margin-left:100px;
	margin-right:100px;
}

.item{
    float:left; 
    width:340px;
    height:150px;
	border-style: double;
    margin:20px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	text-align:center;
	font-size:20px;
}

.container{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 50px;
	text-align: center;
}

footer {
                  background-color:rgb(255,144,118);
                  color:black;
                  clear:both;
                  text-align:center;
                  padding:5px;   
                  font-family: Monaco, Consolas, "Lucida Console", monospace;      
                    }
