div{
	background-color: rgb(255, 144, 118);
}

.wrapper{
    overflow:hidden; 
    margin-left:100px;
	margin-right:100px;
}

.item{
    float:left; 
    width:340px;
    height:110px;
    /*background:rgb(105, 243, 200);*/
	border-style: double;
    margin:20px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	text-align:center;
	font-size:15px;
}

.container{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 50px;
	text-align: center;
}

footer {
                  background-color:rgb(255,144,118);
                  color:black;
                  clear:both;
                  text-align:center;
                  padding:5px;
                  font-family: Monaco, Consolas, "Lucida Console", monospace;         
                    }

